    .card-shift-description{
        width: 400px;

		> * {
			font-size:13px;
		}
		.section-header {
			display: flex;
			align-items: center;
			text-align: center;
			margin-right: 0.8rem;

			span {
				padding: 0 15px;
				font-weight: bold;
				font-size: 14px;
				color: #464646;
			}

			&::before,
			&::after {
				content: "";
				flex: 1;
				border-bottom: 1px solid #ccc;
			}			
		}
    }