/* begin::main-navigation */
#main-navigation-container {
	.nav-main-link {
		border-bottom: 1px solid #c6d8ed9e;
	}
	.nav-main-link.active{
		color: #06294f;
		background-color: #b4cde7;		
	}
}

#main-navigation-toggle button{
	font-size: 18px;
	font-weight: 600;
	color: #2d4373;
}

#main-navigation-setting {
	.nav-main-item {
		a {
			font-size: 16px;
			padding: 0.8rem 1rem;
		}
	}
}
/* end::main-navigation */

/* Begin::manage group level */

/* Begin::modify custom-checkbox  */
:root{
	--size-checkbox: 1.1rem;
}
.custom-control-input {
	&:checked ~ .custom-control-label::before {
		color: #fff;
		border-color: #0665d0;
		background-color: #0665d0;
	}
	&:focus ~ .custom-control-label::before {
		box-shadow: 0 0 0 0.1rem rgba(6, 101, 208, 0.25);
	}
	&:not(:disabled):active ~ .custom-control-label::before {
		color: #fff;
		background-color: #8dc1fc;
		border-color: #8dc1fc;
	}
}
.custom-control-label {
	&::before {
		width: var(--size-checkbox);
		height: var(--size-checkbox);
		border: #adb5bd solid 1px;
	}
	&::after {
		width: var(--size-checkbox);
		height: var(--size-checkbox);
	}
}
/* End::modify custom-checkbox  */


/* Begin::select2-multiple-custom */
#section_id + .select2-container--default {
	.select2-selection--multiple {
		padding-bottom: 0;

		.select2-search__field {
			font-family: "Kanit", sans-serif;
		}

		.select2-selection__rendered {
			.select2-selection__choice {
				background-color: #d1e0ef;
				border: 1px solid #b8c5d1;
				color: #1c3e5f;
				height: fit-content;
			}
		}

		.select2-selection__choice__remove {
			background-color: #9cbad7;
			color: #3f6081;
			border-right: none;
			&:hover {
				background-color: #42576b;
				color: white;
			}
		}
	}
}
.select2-container--default {
	.select2-results__option{
		font-size:13px;
	}
}

/* End::select2-multiple-custom */

.members-list {
	height: 400px;
	max-height: calc(100vh - 430px);
	overflow-x: hidden;
	overflow-y: auto;
	border: 1px solid #05346973;

	.list-group-item {
		cursor: pointer;
	}
}

.spinner-loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(121, 121, 121, 0.215); /* มืดจาง */
    z-index: 999;
}

/* Begin::manage group level */
.list-group-item {
	&.disabled {
		color: gray;
		pointer-events: none;
		background-color: #fff8f7;

		.person-fullname {
			color:#054c9e9f;		
		}
	}
	&.active {
		color: #494343;
		background-color: #e7f2ff;
		border-top-color: #aac8e9;
		border-bottom-color: #aac8e9;
		border-left: none;
  		border-right: none;
		
		.text-title {
			color: #8e949a;
		}
	}
	.person-fullname {
		color:#054d9e;		
	}
	.text-title {
		color: #b2bac1;
	}
}


.gtw-datatable {
    border: 1px solid #343a40;
    border-top: none;
    font-size: 13px;

	th,td {
		text-align: left;
		border: 1px solid #343a40;
		border-left-width: 0;
		border-bottom-width: 0;
	}
	th:last-child,td:last-child {
		border-right-width: 0;
	}
	> thead > tr > th {
		background-color: #FFEBCD;
		height: 40px;
		text-align: center;
	}
	> tbody > tr > td {
		padding: 2px 10px;
	}
}


.more-member {
	cursor: pointer;
	color: #0665d0;
	text-align: center;
	font-weight: bold;	
	&:hover{
		text-decoration: underline;
		color: #054d9e;
	}
}

#modal_detail_group_level{
	.modal-body{
  		height: calc(100vh - 200px);
	}
	.list-group-container {
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
		border: 1px solid rgba(5, 52, 105, 0.4509803922);
	}
}


